<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages' %>

      <%= form_for @user, html: { role: "form" } do |f| %>
        <%= content_tag :div, class: "form-group #{"has-error" if @user.errors[:name].any?}" do %>
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, class: "form-control" %>
        <% end %>

        <%= content_tag :div, class: "form-group #{"has-error" if @user.errors[:email].any?}" do %>
          <%= f.label :email, class: "control-label" %>
          <%= f.text_field :email, class: "form-control" %>
        <% end %>

        <%= content_tag :div, class: "form-group #{"has-error" if @user.errors[:password].any?}" do %>
          <%= f.label :password, class: "control-label" %>
          <%= f.password_field :password, class: "form-control" %>
        <% end %>

        <%= content_tag :div, class: "form-group #{"has-error" if @user.errors[:password_confirmation].any?}" do %>
          <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        <% end %>

        <%= f.submit "Create my account", class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
